.invest {
    &__header {
        font-family: "Roboto",sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 54px;
        line-height: 70px;
        letter-spacing: 0.06em;
        color: $black;
        margin-top: 100px;
        margin-bottom: 40px;
    }

    &__desc {
        font-family: "Open Sans",sans-serif;
        font-size: 20px;
        line-height: 35px;
        color: $black;
        margin-bottom: 120px;
    }

    &__bg1 {
        background: url("../images/invest-1.svg") no-repeat 5% top;
        display: flex;
        align-items: center;
    } 
    &__bg2 {
        background: url("../images/invest-2.svg") no-repeat 5% top;
        display: flex;
        align-items: center;
       
    }

    @media screen and(max-width: 768px) {
        &__header {
            font-size: 43px;
            margin-top: 60px;
        }

        &__desc {
            margin-bottom: 80px;
        }
    }

    @media screen and(max-width: 414px) {
        &__header {
            font-size: 30px;
            line-height: 44px;
            padding-left: 20px;
            padding-right: 20px;
            margin-top: 50px;
        }

        &__bg1,
        &__bg2 {
            min-width: 100%;
            padding-left: 40px;
    
        }

        &__desc {
            margin-bottom: 70px;
        }
    }

    @media screen and(max-width: 375px) {
        &__header {
            line-height: 43px;
        }
    }
}