@import "utils";
@import "fonts";
@import "typography";
@import "header";
@import "form";
@import "franchise";
@import "popular";
@import "shares";
@import "species";
@import "benefits";
@import "limitations";
@import "invest";
@import "specialist";
@import "footer";


body {
 background: $white;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}
